<?xml version="1.0"?>
<config>
	<modules>
		<Learning_Editeurs>
			<version>0.1.0</version>
		</Learning_Editeurs>
	</modules>
	<global>
		<helpers>
			<learning_editeurs>
				<class>Learning_Editeurs_Helper</class>
			</learning_editeurs>
		</helpers>
		<blocks>
	        <learning_editeurs>
	          	<class>Learning_Editeurs_Block</class>
	       	</learning_editeurs>
	    </blocks>
	    <models>
			<learning_editeurs>
				<class>Learning_Editeurs_Model</class>
				<resourceModel>learning_editeurs_resource</resourceModel>
			</learning_editeurs>
			<learning_editeurs_resource>
				<class>Learning_Editeurs_Model_Resource</class>
				<entities>
					<editeur>
						<table>learning_editeurs_editeur</table>
					</editeur>
				</entities>
			</learning_editeurs_resource>
		</models>
		<resources>
			<learning_editeurs_setup>
				<setup>
					<module>Learning_Editeurs</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</learning_editeurs_setup>
			<learning_editeurs_write>
				<connection>
					<use>core_write</use>
				</connection>
			</learning_editeurs_write>
			<learning_editeurs_read>
				<connection>
					<use>core_read</use>
				</connection>
			</learning_editeurs_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<learning_editeurs>
				<use>standard</use>
				<args>
					<module>Learning_Editeurs</module>
					<frontName>editeurs</frontName>
				</args>
			</learning_editeurs>
		</routers>
		<layout>
		   <updates>
		        <learning_editeurs>
		             <file>learning/editeurs.xml</file>
		         </learning_editeurs>
		    </updates>
		</layout>
	</frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Learning_Editeurs_Adminhtml before="Mage_Adminhtml">Learning_Editeurs_Adminhtml</Learning_Editeurs_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <learning_editeurs>
                    <files>
                        <default>Learning_Editeurs.csv</default>
                    </files>
                </learning_editeurs>
            </modules>
        </translate>
        <layout>
            <updates>
                <learning_editeurs>
                    <file>learning_editeurs/learning_editeurs.xml</file>
                </learning_editeurs>
            </updates>
        </layout>
    </adminhtml>
</config>